@media screen and (max-width: 960px){
    .auth-img{
        display: none!important;
    }
    .form_container {
      margin-top: 1vh!important;
      padding: 2vh 6vh 4vh 7vh!important;
    } 
  }
  @keyframes my-animation {
    from { bottom: 0; }
    to { bottom: 10vh; }
  }
   
  .form_container {
      position: relative;
      animation: my-animation 1s ease-in-out 0s infinite;
      animation-iteration-count: 1;
      margin-top: 5vh;
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2vh;
      padding: 5vh 4vh 2vh 4vh;
      background-color: #ffffff;
      box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
        0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
        0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
      border-radius: 11px;
      font-family: "Inter", sans-serif;
    }
    .signup{
      margin-top: 0vh!important;
      gap: 1vh!important;
    }
    
    .logo_container {
      box-sizing: border-box;
      width: 10vh;
      height: 10vh;
      background: linear-gradient(180deg, rgba(76, 75, 75, 0) 50%, #F8F8F888 100%);
      border: 1px solid #F7F7F8;
      filter: drop-shadow(0px 0.5px 0.5px #EFEFEF) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
      border-radius: 11px;
    }
    .img-logo{
      margin-top: 1vh;
    }
    .text-logo{
      font-size: 2rem;
      color: rgba(243, 240, 62, 0.801);
      align-self: center;
      margin-top: 10vh;
      font-weight: 400;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    }
    .title_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1vh;
    }
    .title_signup{
      gap: 0vh!important;
    }
    .title {
      margin: 0;
      font-size: 1.25rem;
      font-weight: 700;
      color: #212121;
    }
    
    .subtitle {
      font-size: 0.725rem;
      max-width: 80%;
      text-align: center;
      line-height: 1.1rem;
      color: #8B8E98
    }
    
    .input_container {
      width: 100%;
      height: fit-content;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 2vh;
    }
    
    .icon {
      width: 20px;
      position: absolute;
      z-index: 99;
      left: 12px;
      bottom: 9px;
    }
    .users{
      bottom: 13px;
    }
    .input_label {
      font-size: 0.75rem;
      color: #8B8E98;
      font-weight: 600;
    }
    
    .input_field {
      width: auto;
      height: 40px;
      padding: 0 0 0 40px;
      border-radius: 7px;
      outline: none;
      border: 1px solid #e5e5e5;
      filter: drop-shadow(0px 1px 0px #efefef)
        drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
      transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    }
    
    .input_field:focus {
      border: 1px solid transparent;
      box-shadow: 0px 0px 0px 2px #242424;
      background-color: transparent;
    }
    
    .sign-in_btn {
      width: 100%;
      height: 40px;
      border: 0;
      background: #115DFC;
      border-radius: 7px;
      outline: none;
      color: #ffffff;
      cursor: pointer;
    }
    .sign-in_btn:hover {
      background: #497ef0;
    }
    .signup-in_btn {
      width: 100%;
      height: 40px;
      border: 0;
      background: #13c431;
      border-radius: 7px;
      outline: none;
      color: #ffffff;
      cursor: pointer;
      
    }
 
    .signup-in_btn:hover{
      background: #0aec2f;
    }

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #0F75BD;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #0F75BD;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}